<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="0" nbMaxFindHistoryFilter="0" nbMaxFindHistoryFind="0" nbMaxFindHistoryReplace="0" />
    <GUIConfigs>
        <GUIConfig name="NewDocDefaultSettings" format="2" />
        <GUIConfig name="RememberLastSession">no</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" Wrap="yes" />
        <GUIConfig name="noUpdate">yes</GUIConfig>
    </GUIConfigs>
    <History nbMaxFile="0" />
</NotepadPlus>
